<div class="card">
    <div class="card-body">
        <h2 class="card-title">Employer Registration</h2>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label id="eFirstName" for="eFirstName" class="col-form-label">First Name</label>
                    <input id="eFirstName" name="eFirstName" #eFirstName="ngModel" [(ngModel)]="EmployerDetail.eFirstName" type="text" class="form-control"  />
                </div>
                <div class="col-md-6">
                    <label id="eMiddleName" for="eMiddleName" class="col-form-label">Middle Name</label>
                    <input id="eMiddleName" name="eMiddleName" #eMiddleName="ngModel" [(ngModel)]="EmployerDetail.eMiddleName" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="eLastName" for="eLastName" class="col-form-label">Last Name</label>
                    <input id="eLastName" name="eLastName" #eLastName="ngModel" [(ngModel)]="EmployerDetail.eLastName" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="email" for="email" class="col-form-label">Email</label>
                    <input id="email" name="email" #email="ngModel" [(ngModel)]="EmployerDetail.email" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="designation" for="designation" class="col-form-label">Designation</label>
                    <input id="designation" name="designation" #designation="ngModel" [(ngModel)]="EmployerDetail.designation" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="phoneNumber" for="phoneNumber" class="col-form-label">PhoneNumber</label>
                    <input id="phoneNumber" name="phoneNumber" type="text" #phoneNumber="ngModel" [(ngModel)]="EmployerDetail.phoneNumber" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label id="companyID" for="companyID" class="col-form-label">companyID</label>
                    <input id="companyID" name="companyID" #companyID="ngModel" [(ngModel)]="EmployerDetail.companyID" type="text" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label id="companyName" for="companyName" class="col-form-label">Company Name</label>
                    <input id="companyName" name="companyName" #companyName="ngModel" [(ngModel)]="EmployerDetail.companyName" type="text" class="form-control">
                </div>
                <div class="col-md-12">
                    <label id="startEmployeeRange" for="startEmployeeRange"
                        class="col-form-label">StartEmployeeRange:</label>
                    <input id="startEmployeeRange" name="startEmployeeRange" #startEmployeeRange="ngModel" [(ngModel)]="EmployerDetail.startEmployeeRange" type="text" class="form-control">
                </div>
                <div class="col-md-12">
                    <label id="endEmployeeRange" for="endEmployeeRange" class="col-form-label">EndEmployeeRange</label>
                    <input id="endEmployeeRange" name="endEmployeeRange" #endEmployeeRange="ngModel" [(ngModel)]="EmployerDetail.endEmployeeRange" type="text" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label id="cAddress" for="cAddress" class="col-form-label">Address</label>
                    <input id="cAddress" name="cAddress" #cAddress="ngModel" [(ngModel)]="EmployerDetail.cAddress" type="text" class="form-control" />
                </div>
            </div>
        </form>
        <button type="submit" id="employer-Button" class="btn btn-info mt-3">REGISTER</button>
        
    </div>

</div>