<div class="card">
    <div class="card-body">
        <h2 class="card-title">Employer Registration</h2>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label id="EFirstName" for="EFirstName" class="col-form-label">First Name</label>
                    <input id="EFirstName" name="EFirstName" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="EMiddleName" for="EMiddleName" class="col-form-label">Middle Name</label>
                    <input id="EMiddleName" name="EMiddleName" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="ELastName" for="ELastName" class="col-form-label">Last Name</label>
                    <input id="ELastName" name="ELastName" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="Email" for="Email" class="col-form-label">Email</label>
                    <input id="Email" name="Email" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="Designation" for="Designation" class="col-form-label">Designation</label>
                    <input id="Designation" name="Designation" type="text" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label id="PhoneNumber" for="PhoneNumber" class="col-form-label">PhoneNumber</label>
                    <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label id="CompanyID" for="CompanyID" class="col-form-label">CompanyID</label>
                    <input id="CompanyID" name="CompanyID" type="text" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label id="CompanyName" for="CompanyName" class="col-form-label">Company Name</label>
                    <input id="CompanyName" name="CompanyName" type="text" class="form-control">
                </div>
                <div class="col-md-12">
                    <label id="StartEmployeeRange" for="StartEmployeeRange"
                        class="col-form-label">StartEmployeeRange:</label>
                    <input id="StartEmployeeRange" name="StartEmployeeRange" type="text" class="form-control">
                </div>
                <div class="col-md-12">
                    <label id="EndEmployeeRange" for="EndEmployeeRange" class="col-form-label">EndEmployeeRange</label>
                    <input id="EndEmployeeRange" name="EndEmployeeRange" type="text" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label id="CAddress" for="CAddress" class="col-form-label">Address</label>
                    <input id="CAddress" name="CAddress" type="text" class="form-control" />
                </div>
            </div>
        </form>
        <p>employer-reg works!</p>
    </div>

</div>